:root{
  --background_blue : #00070D;
  --light_blue : #7CAED5;
  --orange : #F3A054;
  --green_background : rgba(87, 164, 80, 0.2);
  --red_background : rgba(164, 80, 80, 0.2)
}

.mother_container {
  background-color: var(--background_blue);
  color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.title{
  color: var(--light_blue);
  font-family : 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 20px;
  margin-bottom: 3px;
  margin-left: 60px;
}

.subtitle{
  color: var(--orange);
  font-family : 'Open Sans';
  font-size: 0.8em;
  margin-left: 60px;
}

.title-container {
  display: flex; /* Use flexbox to arrange title, subtitle, and image */
  align-items: center; /* Align vertically centered */
}

.title-image {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url("media/dunelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  padding:0;
  margin:auto;
}

.card-on {
  background-color: var(--green_background);
  border-radius: 10px;
  width: 272px;
  height: 107px;
  flex-shrink: 0; 
}

.card-off {
  background-color: var(--red_background);
  border-radius: 10px;
  width: 272px;
  height: 107px;
  flex-shrink: 0; 
}

.card-title {
  color: #FFF;
  font-family : 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; 
  letter-spacing: 0.15px;
  padding-left: 24px;
  padding-top: 16px;
}

.card-text-on {
  font-family : 'Open Sans', sans-serif;
  color: #57A450;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
}

.card-text-off {
  font-family : 'Open Sans', sans-serif;
  color: red;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -5px;
}

.button-on {
  background-color: white;
}




